.root {
    font-family: inherit;
}

.title-main {
    margin-left: 250px;
    margin-top: 60px;
    margin-bottom: 60px; 
}

.form-wrapper {
    width: 40%;
    height: 100%;
    margin-right: 10%;
}

.sendButton {
    display: flex;
    justify-content: center;   
}