
.btn {
    outline: none !important;
    box-shadow: none !important;
}


.auth-background-holder {
	height: 100vh;
	min-height: 100%;
}


.auth-main-col, .auth-background-col{
	position: relative;
}

.auth-main-col {
	margin: auto;
}

.auth-background-col {
	background: rgba(0, 0, 0, 0.1);
}

.auth-background-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
}


.auth-background-col {
	display: none;
}	
