.first-wrapper {
    border: 2px solid #dd830c;
    font-family: inherit;
    width: 8.5in;
    height: 11in;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.im-cover {
    width: 8.5in;
    height: 11in;
}

.wrapper-CT {
    border: 2px solid #dd830c;
    font-family: inherit;
    width: 8.5in;
    height: 11in;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

.client-content {
    border: 1px solid black;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-left: 10px;
}

.objective-scope {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.wrapper {
    border: 2px solid #dd830c;
    font-family: inherit;
    width: 8.5in;
    height: 11in;
    margin: auto;
    margin-top: 80px;
    padding-top: 50px;
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: column;
}

.container-photo1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.text-photo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.photo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.date-table{
    width: 60%;
}

.contentsubtitle-TC {
    line-height: 0px;
    margin-left: 50px;
    display: flex;
    line-height: 1.0;
}
.contentsubtitle {
    line-height: 0px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tittlepage {
    margin-top: 20px;
    margin-left: 50px;
}

.paragraph {
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: justify;
}

.imgAnalizer {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.imgLabel {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.imgCP {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    border-collapse: collapse;
}

th {
    width: 5%;
    height: 50px;
}

td {
    width: 5%;
    height: 50px;
}

.table3 {
    border: 1px solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    padding-top: 0;
    border-collapse: collapse;
}

.imgVVoltage {
    width: 550px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.table3a {
    background-color: #4c8758;
}

.tableLabel {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.imgDVoltage {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Chart-Voltage {
    display: block;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 25px;
}

